@font-face {
    font-family: "mario";
    src: url("font/CHLORINP.TTF");
}

body {
    background-image: url(img/mario-level.png);
    background-size: cover;

    font-size: 2em;
}

h1 {
    color:blue;
    text-shadow: black 0px 5px;

    text-align: center;
}

ol, ul {
    color: black;
    /* text-align: center; */

    background-color: rgba(105, 217, 105, 0.8);
    border: 5px inset lightseagreen;
    display: flex;
    flex-flow: column nowrap;
}

img {
    max-width: min(100%, 300px);
    display:block;
    justify-self: center;
}

a {
    color:red;
}

a:hover {
    color:gold;
}

@font-face {
    font-family: 'Random';
    src: url('/davidpages/font/Random font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baskertown';
    src: url('/davidpages/font/Baskertown.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Random', sans-serif;
}

.secret-link {
    margin: 10%;
    font-family: 'Baskertown', sans-serif;
    color:rgba(0,0,0,0);
    /* filter: blur(2px) opacity(50%); */
    text-shadow: 10px 5px 5px rgba(0,0,0,0.5);
}

.secret-link:hover {
    color:white;
    border: 5px dotted black;
    border-radius: 10%;
    background-color: darkblue;
    filter: invert(100%);
}