body{
  text-align: center;
  background-color: #000000;
  color: rgb(255, 0, 230);
  font-family:courier,arial,helvetica,sans-serif;
  font-size: 135%;
  margin: 0px;
}

a:visited { 
  text-decoration: none; 
  color: orange; 
}

a:hover { text-decoration: none; color:yellow;  }

.paragraph {
  max-width: 900px;
  margin:0 auto;
  line-height: 1.25em;
  letter-spacing: .05em
}

ul, ol{
    max-width: 350px;
    margin: 0 auto;
    text-align:left;
}