/*davids font*/
@font-face {
  font-family: 'Davids3x3';
  src: url('/davidpages/font/Vols3x3.ttf') format('truetype');
}

body {
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family:courier,arial,helvetica,sans-serif;
  font-size: 1.35em;
  margin: 0px;
}

.paragraph {
  max-width: 900px;
  margin:0 auto;
  line-height: 1.25em;
  letter-spacing: .05em
}

ul, ol{
    max-width: 350px;
    margin: 0 auto;
    text-align:left;
}

#logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border-style: dashed;
  border-width: 2px 0px 2px 0px;
  margin: .5rem;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

#manifesto {
  border-style: dashed;
  margin: 2rem .5rem 2rem .5rem;
  border-width: 2px 0px 2px 0px;
}

.troll {
  display:none;
}

@media (max-width:550px) {
  
  body * {
    display: none;
  }

  .troll {
    display: inline;
  }
  
}

video {
  width: 100%;
}

/* Hovered links */
a:hover {
  text-decoration: wavy underline;
}