@font-face {
  font-family: 'Cloister';
  src: url('/davidpages/font/antherton_cloister/ANTHC___.TTF');
  font-display: swap;
  font-style: italic;
}

@layer special {
  body:not(.home-link) {
    background-color: navy;


    text-align: center;
    font-size: 1.2em;

    /* color: springgreen; */
    color: white;
    text-shadow: 0 0 15px springgreen;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .note {
      color: lightskyblue;
    }

    .title {
      font-size: 3em;
    }
    
    ul {
      list-style-type: none;
    
      background-color: rgba(0, 75, 214, 0.4);
      padding: 20px;
      border-radius: 40px;
    }
    
    li::before {
      /* content: "🔗 "; */
    }
    
    a {
      font-family: "Cloister";
      color: springgreen;
      font-size: 1.5em;
      
    }
    a:hover {
      color: white;
    }

  }
}

