/* This is where you can style each type of element, or elements
    with a specific tag ("class") that you give them! */

/* Applies to everything */
:root {
    background-color:#ffb3cc;
    /* Text */
    color: rebeccapurple;
    font-family: fantasy;
}

/* Applies to links */
a {
    /* link color */
    color: magenta;
}

/* Applies to anything with the "example-class" class */
.example-class {
    /* Just showing off whats possible with the CSS I've been learning <3 */

    /* Background color */
    background-color: darkgoldenrod;

    /* Text */
    color: rgb(119, 45, 145);
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;

    /* Gives the contents a bunch of space */
    padding: 50px;

    /* Silly HUGE border */
    border: 50px dotted goldenrod;

    /* I'm addicted to these cute rounded corners */
    border-radius: 25px;
}