:root:not(*) {
  background-color:magenta;
}

body {
  background-color:silver;
  color: gray;
}

/* [PIXEL-PERFECT] ensure pixels stay nice when resizing canvas */
canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* fallback for old browsers */
}