/* card and rank use this for now */

body {
    /* background-image: url("/davidpages/img/texture/escheresque-dark.png"); */
}

#card-img {
/*    resets css from img formatting */
    all: initial;
    /* all: revert; */

    max-width: 200px;

    display: flex;
    margin: auto;
    padding-block: 100px;

/*    margin: 100px;*/
/*    padding: 100px;*/

/*    transparency-aware drop shadow */
/*    2 lines for ancient and modern */
    -webkit-filter: drop-shadow(0px 0px 21px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 0px 21px rgba(0, 0, 0, 0.5));
}

#standard-section-box {
    /* shown when the js detects at least 1 standard section */
    display: none;

    justify-self: center;
    border: 3px solid teal;
    border-radius: 10px;
    padding: 0px;
    background-color:aquamarine;

    /* display: flex; */
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;

    background-image: url("/davidpages/img/texture/escheresque-dark.png");
}

/* eachc section */
#standard-section-box p {
    /* min-width: max-content; */
    margin: 10px;
    padding: 5px;
    background-color: lightcyan;
    border: 3px solid teal;
    border-radius: 10px;
}

#same-rank-container {
    justify-self: center;
    display: flex;
}

#same-rank-container p {
    margin: 10px;
}