@font-face {
  font-family: 'Zodiak';
  src: url('font/Zodiak/Zodiak-Variable.ttf');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Zodiak';
  src: url('font/Zodiak/Zodiak-VariableItalic.ttf');
  font-display: swap;
  font-style: italic;
}

@layer normal, special;

@layer normal {
    :root {
        --link-color: darkcyan;
        --link-hover-color: rgb(126, 107, 255);
    }

    ::selection {
        color:cyan;
        background-color: slateblue;
    }

    body {
        background-color:powderblue;
        font-family: 'Zodiak', serif;
        font-size: 1.2em;
    }

    .navbar {
        font-size: smaller;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        padding: 2px;

        background-color: skyblue;
        border: 2px solid var(--link-color);
        border-radius: 30px;
    }

    .navbar a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
    }

    a {
        color: var(--link-color);
        text-decoration: none;
    }

    a:hover {
        color: var(--link-hover-color);
        /* text-decoration: wavy underline orchid; */
        text-decoration: underline;
    }

    .note  {
        color: rgb(58, 104, 146);
        font-style: italic;
        font-weight: 400;
    }

    img {
        /* color: steelblue; */
        margin: auto;
        width: 100%;
        max-width: 700px;
        box-shadow: 0px 0px 31px rgba(0, 0, 0, 0.5);
    }

    .card-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card {
        padding: 1rem;

        /* background-color: skyblue; */
        background-color: #3bd1ff;
        background-image: url("/davidpages/bg/cross-pattern.png");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

        /* border-top-left-radius: 10px; */
        /* border-bottom-right-radius: 10px; */

        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;

        /* box-shadow: 10px 10px 0px deepskyblue; */
        box-shadow: 10px 10px 0px rgb(0, 95, 143);
    }

    .secondary-card {
        padding: 1rem;
        background-color:darkgray;
        border: 6px ridge lightgray;
    }

    .secondary-card a {
        /* color: sienna; */
        all: revert;
    }

    .secondary-card a:hover {
        all: revert;
        color:sienna;
    }

    .photo {
        width:100%;
        max-width:1200px;
    }

    .blue-text {
        color: #0051ff;
    }

    .red-suit {
        color: red;
        font-weight: bold;
        text-decoration: none;
    }

    .black-suit {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    /*centered, capped width for comfortable reading*/
    .reading-width {
        justify-self: center;
        width: 100%;
        max-width: 700px;
    /*    display: flex;*/
    /*    margin: auto*/
    }

    .emoji-container {
        display: flex;
        flex-flow: row wrap;
    }

    .warning {
        background-color: rgba(185, 0, 0, 1);
        background-image: url("/davidpages/bg/black-thread.png");;
        color: maroon;
        text-shadow: 1px 1px 0 red,
         -1px -1px 0 blue;
    }
}

/* layer for types of images i want not to be styled with global defaults */
@layer special {
    .emoji {
        all: revert;

        height: 1.3em;
        width: auto;

        vertical-align: -0.35rem;
        /* vertical-align: middle; */
        /* vertical-align: middle; */

        margin: 0px;
        /* hmm i kinda like them blurry actually */
        /* image-rendering: pixelated; */
    }

    .emoji:hover {
        /* filter: brightness(150%) hue-rotate(170deg) contrast(400%); */
    }

    .emoji:hover {
    width: 100%;
    height: 200px;
    /* Starting color */
    background-color: hsl(0, 80%, 50%); 
    /* Animation: name | duration | timing | iteration */
    animation: rainbow-shift 5s linear infinite;
    }

    @keyframes rainbow-shift {
    0% {
        background-color: hsl(0, 80%, 50%);
    }
    100% {
        background-color: hsl(360, 80%, 50%);
    }
    }
}