@font-face {
  font-family: 'Zodiak';
  src: url('font/Zodiak/Zodiak-Variable.ttf');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Zodiak';
  src: url('font/Zodiak/Zodiak-VariableItalic.ttf');
  font-display: swap;
  font-style: italic;
}

@layer normal, special;

@layer normal {
    :root {
        --link-color: darkcyan;
        --link-hover-color: rgb(126, 107, 255);
    }

    * {
        /* LOL */
        /* animation: rainbow-shift 1.714s linear infinite; */
    }

    ::selection {
        color:cyan;
        background-color: slateblue;
    }

    body {
        background-color:powderblue;
        font-family: 'Zodiak', serif;
        font-size: 1.2em;
    }

    .navbar {
        font-size: smaller;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        padding: 2px;

        background-color: skyblue;
        border: 2px solid var(--link-color);
        border-radius: 30px;
    }

    .navbar a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
    }

    a {
        color: var(--link-color);
        text-decoration: none;
    }

    a:hover {
        color: var(--link-hover-color);
        /* text-decoration: wavy underline orchid; */
        text-decoration: underline;
    }

    .note  {
        color: rgb(58, 104, 146);
        font-style: italic;
        font-weight: 400;
    }

    img {
        /* color: steelblue; */
        margin: auto;
        width: 100%;
        max-width: 700px;
        box-shadow: 0px 0px 31px rgba(0, 0, 0, 0.5);
    }

    .card-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card {
        padding: 1rem;

        /* background-color: skyblue; */
        background-color: #3bd1ff;
        background-image: url("/davidpages/bg/cross-pattern.png");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

        /* border-top-left-radius: 10px; */
        /* border-bottom-right-radius: 10px; */

        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;

        /* box-shadow: 10px 10px 0px deepskyblue; */
        box-shadow: 10px 10px 0px rgb(0, 95, 143);
    }

    .secondary-card {
        padding: 1rem;
        background-color:darkgray;
        border: 6px ridge lightgray;
    }

    .secondary-card a {
        /* color: sienna; */
        all: revert;
    }

    .secondary-card a:hover {
        all: revert;
        color:sienna;
    }

    .photo {
        width:100%;
        max-width:1200px;
    }

    .blue-text {
        color: #0051ff;
    }

    .red-suit {
        color: red;
        font-weight: bold;
        text-decoration: none;
    }

    .black-suit {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    /*centered, capped width for comfortable reading*/
    .reading-width {
        justify-self: center;
        width: 100%;
        max-width: 1000px;
    /*    display: flex;*/
    /*    margin: auto*/
    }

    /* only on the emoji test page */
    .emoji-container {
        display: flex;
        flex-flow: row wrap;
    }

    /* evil styling >:) */
    .warning {
        background-color: rgba(185, 0, 0, 1);
        background-image: url("/davidpages/bg/black-thread.png");
        color: maroon;
        text-shadow: 1px 1px 0 red,
         -1px -1px 0 blue;
    }

    /* good styling :> */
    .update {
        background-color: rgba(0, 217, 255, 0.5);
        border: 10px double skyblue;
        color: white;
        /* text-shadow: 1px 1px 0 red, */
         /* -1px -1px 0 blue; */
    }
}

/* layer for types of images i want not to be styled with global defaults */
@layer special {
    .emoji {
        all: revert;

        height: 1.3em;
        width: auto;

        /* vertical-align: -0.35em; */
        vertical-align: -0.35em;
        /* vertical-align: middle; */
        /* vertical-align: middle; */

        margin: 0px;
        /* hmm i kinda like them blurry actually */
        /* image-rendering: pixelated; */
        }

    /* no-spin: currently just for notebook page turn buttons */
    .emoji:hover:not(.no-spin) {
        /* Animation: name | duration | timing | iteration */
        animation: 
            spin 1.714s linear infinite, 
            rainbow-shift 11.928s linear infinite;
        /* animation: hover 1.714s ease-in-out infinite; */
    }

    @keyframes spin {
        000% {filter: brightness(120%); rotate: calc(72deg * 0);}
        100% {filter: brightness(120%); rotate: calc(72deg * 5);}
        020% {filter: brightness(120%); rotate: calc(72deg * 1);}
        040% {filter: brightness(120%); rotate: calc(72deg * 2);}
        060% {filter: brightness(120%); rotate: calc(72deg * 3);}
        080% {filter: brightness(120%); rotate: calc(72deg * 4);}
    }

    @keyframes hover {
        0% {transform: translateY(20px);}
        50% {transform: translateY(-20px);}
        100% {transform: translateY(20px);}
    }

    @keyframes rainbow-shift {
        /* another rainbow test */
        /* from { filter: hue-rotate(0deg); }
        to { filter: hue-rotate(360deg); } */

        000% {filter: hue-rotate(calc(72deg * 0));}
        100% {filter: hue-rotate(calc(72deg * 5));}
        020% {filter: hue-rotate(calc(72deg * 1));}
        040% {filter: hue-rotate(calc(72deg * 2));}
        060% {filter: hue-rotate(calc(72deg * 3));}
        080% {filter: hue-rotate(calc(72deg * 4));}
    }
}