/*davids font*/
@font-face {
    font-family: 'Davids3x3';
    src: url('/davidpages/font/Vols3x3.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents the body itself from ever scrolling */

    background-color: lightsteelblue;
}

#book-container {
    display: flex;
    flex-direction: column;
    height: 100dvh; /* Fill the whole screen */
    overflow: hidden;  /*Prevent the body from scrolling */
}

#controls {
    flex: 0 0 auto; /* Don't shrink, don't grow beyond content */
    padding: 10px;
}

#page-label-container {
    display: inline-block;
    width: 80px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    /* Keep the numbers centered */
    text-align: center;

    font-family: 'Courier New', monospace;
/*    font-family: 'Davids3x3', monospace;*/
/*    font-size: 40px;*/
/*    margin-top: -20px;*/
}

#stage {
    flex: 1 1 auto; /* Take up ALL remaining space */
    display: flex;
    align-items: start;  /* page image immediately below controls */
    justify-content: center; /* Center image horizontally */
    overflow: hidden;
}

#page-image {
    display: block;
    max-width: 100%;
    max-height: 100%; /* Now 100% of the REMAINING stage space */
    object-fit: contain;
}