/*#page-image {*/
/*    *//* 1. Clamp to the container/screen width */
/*    max-width: 100vw;*/
/*    max-height: 95vh;*/

/*    *//* scale down to fit */
/*    object-fit: contain;*/

/*    *//* 3. Keep it centered */
/*    display: block;*/
/*    margin: 0 auto;*/

/*    *//* wtf */
/*    transition: opacity 0.2s ease-in-out;*/
/*}*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents the body itself from ever scrolling */
}

#book-container {
    display: flex;
    flex-direction: column;
    height: 100dvh; /* Fill the whole screen */
    overflow: hidden;  /*Prevent the body from scrolling */
}

#controls {
    flex: 0 0 auto; /* Don't shrink, don't grow beyond content */
    padding: 10px;
}

#page-label-container {
    display: inline-block;
    width: 80px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    /* Keep the numbers centered */
    text-align: center;

    /* Optional: use a monospaced font so '1' is as wide as '8' */
    font-family: 'Courier New', monospace;
}

#stage {
    flex: 1 1 auto; /* Take up ALL remaining space */
    display: flex;
    align-items: start;  /* page image immediately below controls */
    justify-content: center; /* Center image horizontally */
    overflow: hidden;
}

#page-image {
    display: block;
    max-width: 100%;
    max-height: 100%; /* Now 100% of the REMAINING stage space */
    object-fit: contain;
}