@font-face {
  font-family: "OldNewspaperTypes";
  src: url('../fonts/OldNewspaperTypes.ttf');
}

@font-face {
  font-family: "hamrky";
  src: url('../fonts/hamrky.TTF');
}

@font-face {
  font-family: "mwriter";
  src: url('../fonts/Mwriter.ttf');
}

@font-face {
  font-family: "pwriter";
  src: url('../fonts/Pwriter.otf');
}

body{
  text-align: center;
  background-color: #000000;
  color: rgb(255, 0, 230);
  font-size: 135%;
  margin: 0px;
}


p {
  font-family: "mwriter", Times, serif;
}

h1 {
  font-family: "pwriter", Helvetica, sans-serif;
}

h2 {
  font-family: "hamrky", Helvetica, sans-serif;
  font-size: 400%;
}

a {
  font-family: "pwriter", Times, serif;
  font-size: 250%;

}

a:visited { 
  text-decoration: none; 
  color: rgb(13, 0, 255); 
}

a:hover { text-decoration: none; color:yellow;  }

.paragraph {
  max-width: 900px;
  margin:0 auto;
  line-height: 1.25em;
  letter-spacing: .05em
}

ul, ol{
    max-width: 350px;
    margin: 0 auto;
    text-align:left;
}