:root {
  /* Master control for gutter size */
  --gutter-size: 10px;
}

#faculty-container {
  /* Gay background */
  /* (You can make gradients like this here: https://cssgradient.io/) */
  background: linear-gradient(135deg,rgba(255, 0, 0, 1) 0%, rgba(255, 119, 0, 1) 15%, rgba(251, 255, 0, 1) 30%, rgba(0, 255, 30, 1) 43%, rgba(0, 225, 255, 1) 58%, rgba(4, 0, 255, 1) 72%, rgba(157, 0, 255, 1) 86%, rgba(255, 0, 247, 1) 100%);
  border: 1px solid black;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  /* Gap between faculty boxes and outer edge */
  padding: var(--gutter-size);

  /* Gap in between faculty boxes */
  gap: var(--gutter-size);
}

.faculty-box {
  /* (Include border in width) */
  box-sizing: border-box;
  /* Take up half the space, minus the middle gutter */
  width: calc(50% - (var(--gutter-size) / 2));

  background-color: white;
  border: 1px solid black;
}

.faculty-box img {
  /* Images expand to fill box, to a maximum of 350px */
  width: min(100%, 350px);
}

/* DAVID AREA */
.david-font {
  /* Undo heading boldness */
  font-weight: normal;
  
  font-family: 'Davids3x3';
  font-size: 80px;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.david-link {
  color:darkcyan;
}
.david-link:hover {
  color:rgb(126, 107, 255);
}

/* Lily Area */
.lily-box {
  text-align: center;
}
.lily-box h2 {
  font-size: 32px;
  margin-bottom: 1px;
}
.lily-box h3 {
  font-size: medium;
}
.lily-img {
  border-radius: 30px;
  box-shadow: 0 10px 10px #440119;
  transition: 1.5s;
}
.lily-img:hover {
  transition: 1.5s;
  transform: rotate(15deg);
}
.lily-link {
  text-decoration: none;
  color: #eb0be7;
}
.lily-link:hover {
  display: inline-block;
  text-decoration: none;
  color: #0fd8dc;
  transform: translateY(-5px);
}
.lily-blinkie img {
  width: auto;
  height: 1.3em;
}
.lily-font {
  font-family: "Nogard";
}